@model List<Hamoj.Service.Dto.ProductDto>

@{
    Layout = "~/Views/Shared/_Customer.cshtml";
    ViewData["Title"] = "Order Add";
}

<partial name="~/Views/Shared/_Breadcrumb.cshtml" />

<form method="post" asp-controller="Order" asp-action="CustomerProductOrder">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body p-0">
                <div class="table-responsive order-list">
                    <table class="table items-table">
                        <thead>
                            <tr>
                                <th class="my-0 text-black font-w500 fs-20">Items</th>
                                <th class="my-0 text-black font-w500 fs-20">Price</th>
                                <th class="text-black font-w500 fs-20">Qty.</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < Model.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <div class="media">
                                            <a href="ecom-product-detail.html">
                                                <img class="me-3 img-fluid rounded product-image" src="~/ProductImage/@Model[i].Image" alt="@Model[i].Name">
                                            </a>
                                            <div class="media-body">
                                                <h5 class="mt-0 mb-2 text-black mb-4">
                                                    <a class="text-black" href="ecom-product-detail.html">@Model[i].Name</a>
                                                </h5>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h4 class="my-0 text-secondary font-w600">@Model[i].Price</h4>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <a class="btn btn-primary shadow btn-xs me-1" onclick="decrementQty(this)"><i>-</i></a>
                                            <input type="text" class="form-control quantity-input text-center mx-0 p-1" value="0" style="width: 60px;" asp-for="@Model[i].Qty" />
                                            <a class="btn btn-primary shadow btn-xs ms-1" onclick="incrementQty(this)"><i>+</i></a>
                                        </div>
                                        <input type="hidden" asp-for="@Model[i].Id" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Order Now</button>
</form>

@section Scripts {
    <script>
        function incrementQty(element) {
            var input = element.previousElementSibling;
            var currentValue = parseInt(input.value);
            input.value = currentValue + 1;
        }

        function decrementQty(element) {
            var input = element.nextElementSibling;
            var currentValue = parseInt(input.value);
            if (currentValue > 0) {
                input.value = currentValue - 1;
            }
        }
    </script>
}