@model List<Hamoj.Service.Dto.OrderDetailsDto>

@{
    Layout = "~/Views/Shared/_Vendor.cshtml";
    ViewData["Title"] = "Order List";
}

<partial name="~/Views/Shared/_Breadcrumb.cshtml" />

<div class="row" id="card">
    @foreach (var order in Model)
    {
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0" id="card-@order.Id">
            <!-- Card-->
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body p-0">
                    <img src="~/ProductImage/@order.productDto.Image" class="img-thumbnail" alt="@order.productDto.Name" style="width: 100%; height: 200px; object-fit: fill;" />
                    <div class="p-4">
                        <h4>Office No: @order.orderDto.customerDto.Office_No</h4>
                        <span>@order.productDto.Name</span>
                        <span>Qty: @order.Qty</span>
                        <div class="row mt-2">
                            <div class="col-6 p-1">
                                <button type="button" class="btn btn-sm btn-rounded btn-success btn-confirm w-100" onclick="confirmOrder(@order.Id, 1)">Confirm</button>
                            </div>
                            <div class="col-6 p-1">
                                <button type="button" class="btn btn-sm btn-rounded btn-danger btn-cancel w-100" onclick="confirmOrder(@order.Id, 2)">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section scripts {
    <script>
        function confirmOrder(orderDetailId, orderStatus) {
            let actionText = orderStatus === 1 ? "Confirm" : "Cancel";
            let successMessage = orderStatus === 1 ? "Order Confirmed" : "Order Canceled";
            let confirmButtonText = orderStatus === 1 ? "Yes, confirm it!" : "Yes, cancel it!";
            let confirmButtonColor = orderStatus === 1 ? "#3085d6" : "#d33";

            Swal.fire({
                title: `Are you sure?`,
                text: `You won't be able to revert this!`,
                icon: orderStatus === 1 ? "success" : "error",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: '#d33',
                confirmButtonText: confirmButtonText,
                cancelButtonText: "No, cancel!",
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/Order/ConfirmOrder',
                        type: 'POST',
                        data: { id: orderDetailId, status: orderStatus },
                        success: function (result) {
                            if (result.status) {
                                Swal.fire({
                                    title: successMessage,
                                    text: `Your order has been Added.`,
                                    icon: 'success'
                                });
                                $("#card-" + orderDetailId).remove();
                            } else {
                                Swal.fire({
                                    title: 'Failed!',
                                    text: 'Failed to update the order.',
                                    icon: 'error'
                                });
                            }
                        },
                        error: function (xhr, status, error) {
                            console.error('AJAX error:', error);
                            Swal.fire({
                                title: 'Error!',
                                text: 'An error occurred while processing your request.',
                                icon: 'error'
                            });
                        }
                    });
                }
            });
        }
    </script>
}
