@model List<Hamoj.Service.Dto.OrderDetailsDto>
@{
    Layout = "~/Views/Shared/_Vendor.cshtml";
    ViewData["Title"] = "Order List";
}

<partial name="~/Views/Shared/_Breadcrumb.cshtml" />

<div class="row" id="card">  
    @foreach (var order in Model)
    {
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0" id="card-@order.Id">
            <!-- Card-->
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body p-0">
                    <img src="~/ProductImage/@order.productDto.Image" class="img-thumbnail" alt="@order.productDto.Name" style="width: 100%; height: 200px; object-fit: fill;" />
                    <div class="p-4">
                        <div class="row">
                            <div class="col-lm-12">
                                <h4 class="text-info">Office No: @order.orderDto.customerDto.Office_No</h4>
                            </div>
                            <div class="col-lm-12">
                                <b class="text-primary">@order.productDto.Name</b>
                            </div>
                        </div>
                        <div class="input-group mt-2">
                            <button class="btn-sm btn btn-primary" type="button">Qty</button>
                            <input type="text" class="form-control form-control-sm" id="textQty_@order.Id" value="@order.Qty">
                            <button class="btn btn-primary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                            <div class="dropdown-menu" style="">
                                <a class="dropdown-item text-success" href="javascript:void(0)" onclick="confirmOrder(@order.Id, 1)">Accept Order</a>
                                <a class="dropdown-item text-danger" href="javascript:void(0)" onclick="confirmOrder(@order.Id, 2)">Cancel Order</a>
                                <a class="dropdown-item text-info" href="javascript:void(0)" onclick="Assign(@order.Id)">Assign to</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>




<div class="modal fade" id="exampleModalCenter">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <select class="default-select form-control wide mb-3 col-md-6" id="VendorUserId" asp-items="@ViewBag.UserList">
                </select>
                <input type="hidden" name="name" value="" id="OrderDetailId" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data - bs - dismiss="modal" id="btnassign" onclick="UserAssign()">Assign</button>
                <button type="button" class="btn btn-danger light" id="btnCancel">Cancel </button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        function confirmOrder(orderDetailId, orderStatus) {
            let actionText = orderStatus === 1 ? "Confirm" : "Cancel";
            let successMessage = orderStatus === 1 ? "Order Confirmed" : "Order Canceled";
            let confirmButtonText = orderStatus === 1 ? "Yes, confirm it!" : "Yes, cancel it!";
            let buttonColor = "#3085d6";
            
            Swal.fire({
                title: `Are you sure?`,
                text: `You won't be able to revert this!`,
                icon: orderStatus === 1 ? "success" : "error",
                showCancelButton: true,
                confirmButtonColor: buttonColor,
                cancelButtonColor: '#d33',
                confirmButtonText: confirmButtonText,
                cancelButtonText: "No, cancel!",
                reverseButtons: false
            }).then((result) => {
                if (result.isConfirmed) {
                    var OrderQty = $('#textQty_' + orderDetailId).val();

                    $.ajax({
                        url: '/Order/ConfirmOrder',
                        type: 'POST',
                        data: { id: orderDetailId, status: orderStatus, qtty: OrderQty },
                        success: function (result) {
                            if (result.status) {
                                Swal.fire({
                                    title: successMessage,
                                    text: `Your order has been Added.`,
                                    icon: 'success'
                                });
                                $("#card-" + orderDetailId).remove();
                            } else {
                                Swal.fire({
                                    title: 'Failed!',
                                    text: 'Failed to update the order.',
                                    icon: 'error'
                                });
                            }
                        },
                        error: function (xhr, status, error) {
                            console.error('AJAX error:', error);
                            Swal.fire({
                                title: 'Error!',
                                text: 'An error occurred while processing your request.',
                                icon: 'error'
                            });
                        }
                    });
                }
            });
        }

        function Assign(OrderDetailId) {
            $('#exampleModalCenter').modal('show');
            $('#OrderDetailId').val(OrderDetailId);
        };

        $('#btnCancel').click(function () {
            $('#exampleModalCenter').modal('hide');
        });

        function UserAssign() {
            var data = $('#VendorUserId').val();
            var OrderDetailId = $('#OrderDetailId').val();
            $.ajax({
                url: '/Order/AssignOrder',
                type: 'POST',
                data: { VendorUserId: data, OrderDetailId: OrderDetailId },
                success: function (result) {
                    $("#card-" + OrderDetailId).remove();
                    $('#exampleModalCenter').modal('hide');
                },
                error: function (xhr, status, error) {
                    console.error('AJAX error:', error);
                    Swal.fire({
                        title: 'Error!',
                        text: 'An error occurred while assigning the user.',
                        icon: 'error'
                    });
                }
            });
        }
    </script>
}

